{% load static %}
<div class="card mb-3 ms-5" style="max-width: 1560px; height: auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'blog/img/'|add:item.image %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description|safe }}</p>
                <p class="card-text">{{ item.full_description|safe }}</p>
            </div>
        </div>
    </div>
</div>

