{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">REGISTER</h3>
                </div>
                <div class="card-body">
                
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %} 

                        <div class="mb-3">

                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="mb-3">

                            <label for="surname" class="form-label">Surname</label>
                            <input type="text" class="form-control" name="surname" required>
                        </div>
                        <div class="mb-3">

                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="mb-3">

                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" value="{{username}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required>
                            
                            {% if error %}
                                    <span class="text-danger" style="font-size: 13px;">{{error}}</span>
                            {%endif%}
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Register</button>
                </form>
                </div>
            </div>
        </div>
        </div>
    </div>>
{% endblock %}
